PORT=3005
GRPC_URL=0.0.0.0:50055

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=wallet_platform

KAFKA_ENABLED=true
KAFKA_BROKERS=127.0.0.1:9092
TRANSACTION_EVENTS_TOPIC=transaction-events
KAFKA_CONSUMER_GROUP=notification-group
AUTH_HTTP_URL=http://127.0.0.1:3001

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=<smtp-user>
SMTP_PASS=<smtp-pass>
SMTP_FROM=<smtp-from>
